# Nim
nimcache/
nimblecache/
htmldocs/
/docs

# macOS
.DS_Store

# binary
bin

# database
/db

# Assets directory for testing
assets

# Movie output directory for testing
movies

# HTTP Live Streaming File
/nginx/hls
